.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: enter;

  height: 100%;
}

.topPiece {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cancel {
  padding: 10px 10px 10px 30px;
}
.save {
  padding: 10px 30px 10px 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  width: 20%;
}

.options {
  width: 20%;
}
